h1{
    font-size:24px;
    text-align: center;
}
body{
    background-color:#5755d9
}
.wrapper{
    max-width:480px;
    margin:0 auto;
    margin-top: 24px;
    box-shadow: 0px 0px 4px 1px #3c3c3c;
    background-color: #fff;
    border-radius: 21px;
    padding:12px;
}

.panel{
    border:0;
}

.menu .menu-badge .label,.menu-badge .label.label-primary{
    margin:0;
    padding: 6px 12px;
    height: 36px;
}



.h1{
    font-size:24px;
    font-weight: bold;
}

.menu-item{
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    border-top: 1px solid #eee;
}

.body-panel{
    padding:12px;
}